/* Filters Container */


/* Filters Header */
.filters h2 {
  font-size: 10px; /* Approximated size */
  /* margin-bottom: 20px; Spacing between title and first filter */
  font-weight: bold;
  color: #333; /* Dark gray text color */
}

/* Individual Filter Label */
.filters label {
  font-size: 16px;
  /* margin-bottom: 10px; */
  font-weight: 500; /* Semi-bold */
  color: #555; /* Gray text color */
  font-weight: bold;
}

/* Individual Filter Input */
.filters select {
  padding: 10px; /* Spacing inside the input */
  margin-bottom: 15px;
  margin-left:10px; /* Spacing between filter items */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 5px; /* Slightly rounded edges */
  font-size: 12px;
  color: #555; /* Gray text color */
}
