.popular-container{
  margin-left: 20px;
  position: relative;
}

.popular-itineraries {
  flex: 1; /* This will make it grow and take up all available space beside filters */
  display: flex;
  flex-wrap: nowrap; /* Prevents the cards from wrapping to the next line */
  overflow-x: auto;
  padding: 20px 0;
  
  justify-content: flex-start; /* Starts the cards from the beginning */
}

.itinerary-card {
  position: relative;
  width: 100px; /* Further reduced width */
  height: 150px; /* Further reduced height */
  margin-right: 15px; /* Reduced spacing between cards */
  border-radius: 15px;
  overflow: hidden;
  /* Remove margin-right from the first card so it aligns correctly */
  .itinerary-card:first-child {
    margin-left: 0;
  }
}

.itinerary-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.itinerary-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itinerary-card img.profile-image {
  position: absolute;
  width: 35px; /* Further reduced size */
  height: 35px; /* Further reduced size */
  border: 2px solid white; /* Reduced border */
  border-radius: 50%;
  bottom: 12px; /* Adjusted position */
  left: 12px; /* Adjusted position */
  z-index: 2;
}

.itinerary-card .name {
  position: absolute;
  bottom: 15px; /* Adjusted position */
  left: 50px; /* Adjusted position */
  color: white;
  z-index: 2;
  align-self: center;
}
.see-all-link {
   /* Position it anywhere you want */
  top: 0; /* Align to the top edge of the container */
  right: 0; /* Align to the right edge of the container */
  margin-right: 30px; /* Adjust the margin as needed */
  margin-top: 100px; /* Adjust the margin as needed */
  /* Additional styles for your link */
  align-self: flex-end;
  text-decoration: none; /* Optional: removes underline from links */
  color: black; /* Optional: link uses current text color */
  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
}
.navbar-center input[type="text"] {
  border: 3px solid #f3c6ae; 
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 10px;
  width: 50%;
  height : 40px;
  background-color: #f0f2f5; /* Facebook search bar background */
}
