<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="userfg.css" />
  </head>
  <body>
    <div class="element-profile-page">
      <div class="div">
        <div class="sidebar">
          <div class="dashboard">
            <div class="overlap">
              <img class="line" src="img/line-5.svg" />
              <div class="text-wrapper">YOUR DASHBOARD</div>
              <div class="group">
                <div class="overlap-group">
                  <div class="text-wrapper-2">36</div>
                  <div class="text-wrapper-3">views today</div>
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-2">
                  <div class="text-wrapper-4">12</div>
                  <div class="text-wrapper-3">posts created</div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-3">
                  <div class="text-wrapper-4">6</div>
                  <div class="text-wrapper-3">trips created</div>
                </div>
              </div>
            </div>
          </div>
          <div class="visitors">
            <div class="overlap-4">
              <div class="rectangle"></div>
              <img class="star" src="img/star-25.svg" />
              <img class="img" src="img/star-21.svg" />
              <img class="star-2" src="img/star-21.svg" />
              <img class="star-3" src="img/star-21.svg" />
              <img class="star-4" src="img/star-21.svg" />
              <img class="icon-heart" src="img/icon-heart.png" />
              <div class="text-wrapper-5">Nice person to meet</div>
              <div class="group-2">
                <div class="text-wrapper-6">Lahari</div>
                <div class="text-wrapper-7">1 day ago</div>
                <img class="photo" src="img/photo.png" />
              </div>
              <p class="p">Awesome person, very good vibes from her.</p>
              <div class="group-3">
                <img class="star-5" src="img/star-21.svg" />
                <img class="star-6" src="img/star-21.svg" />
                <img class="star-7" src="img/star-21.svg" />
                <img class="star-8" src="img/star-21.svg" />
                <img class="star-9" src="img/star-21.svg" />
                <div class="text-wrapper-8">Ramya Mandapati</div>
                <div class="review-time">10 days ago</div>
                <img class="photo" src="img/photo-1.png" />
              </div>
              <p class="text-wrapper-9">Sweet person and I am grateful to met her.</p>
              <div class="group-4">
                <img class="star-5" src="img/star-21.svg" />
                <img class="star-6" src="img/star-21.svg" />
                <img class="star-7" src="img/star-21.svg" />
                <img class="star-8" src="img/star-21.svg" />
                <img class="star-9" src="img/star-21.svg" />
                <div class="text-wrapper-10">Rakshith Reddy</div>
                <div class="text-wrapper-11">1 month ago</div>
                <img class="photo" src="img/photo-2.png" />
              </div>
              <div class="group-5">
                <img class="star-5" src="img/star-25.svg" />
                <img class="star-6" src="img/star-21.svg" />
                <img class="star-7" src="img/star-21.svg" />
                <img class="star-8" src="img/star-21.svg" />
                <img class="star-9" src="img/star-21.svg" />
                <div class="text-wrapper-6">Nikhil Reddy</div>
                <div class="text-wrapper-7">6 months ago</div>
                <img class="photo" src="img/photo-3.png" />
              </div>
              <img class="line" src="img/line-5.svg" />
              <div class="text-wrapper">RATE ISWARYA</div>
              <div class="view-all">VIEW ALL</div>
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="content">
            <div class="profile">
              <div class="overlap-6">
                <div class="overlap-7">
                  <img class="rectangle-2" src="img/rectangle-3.png" />
                  <img class="ellipse" src="img/ellipse.png" />
                  <div class="tools">
                    <div class="div-wrapper">
                      <div class="overlap-group-2">
                        <div class="edit-profile">EDIT PROFILE</div>
                        <img class="img-2" src="img/edit.svg" />
                      </div>
                    </div>
                    <div class="more-horizontal-wrapper">
                      <img class="more-horizontal" src="img/more-horizontal-1.svg" />
                    </div>
                    <div class="upload-wrapper"><img class="img-2" src="img/upload.svg" /></div>
                  </div>
                </div>
                <div class="text-wrapper-12">Iswarya Mary Gade</div>
                <div class="text-wrapper-13">Spread Love....</div>
                <div class="overlap-group-wrapper-2">
                  <div class="overlap-group-3"><div class="element-following">33 FOLLOWING</div></div>
                </div>
                <div class="overlap-wrapper-2">
                  <div class="overlap-group-3"><div class="text-wrapper-14">459 FOLLOWERS</div></div>
                </div>
                <div class="location">
                  <p class="text-wrapper-15">San Jose, California, United States</p>
                  <img class="navigation" src="img/navigation.svg" />
                </div>
              </div>
            </div>
            <div class="overlap-8">
              <div class="about">
                <div class="overlap-9">
                  <div class="text-wrapper-16">About</div>
                  <p class="text-wrapper-17">
                    Traveling has always been a passion.Just a beginner now.I’m not here for hook-ups or to date.
                    Looking for female buddy to travel around.
                  </p>
                </div>
                <div class="see-more">SEE MORE</div>
              </div>
              <img class="projects" src="img/projects-1.png" />
              <div class="skills">
                <div class="overlap-10">
                  <div class="overlap-11">
                    <div class="overlap-group-wrapper-3">
                      <div class="overlap-group-4">
                        <div class="ext"></div>
                        <div class="text-wrapper-18">Adventure</div>
                      </div>
                    </div>
                    <div class="overlap-wrapper-3">
                      <div class="overlap-12">
                        <div class="ext-2"></div>
                        <div class="text-wrapper-19">Mountains</div>
                      </div>
                    </div>
                  </div>
                  <div class="overlap-wrapper-4">
                    <div class="overlap-13">
                      <div class="ext-3"></div>
                      <div class="text-wrapper-20">Beaches</div>
                    </div>
                  </div>
                  <div class="text-wrapper-16">My INTERESTS</div>
                  <div class="show-ALL">SHOW ALL (17)</div>
                </div>
              </div>
              <div class="tabs">
                <div class="overlap-14">
                  <div class="overlap-group-wrapper-4">
                    <div class="activity-interests-wrapper">
                      <div class="activity-interests">ACTIVITY &amp; INTERESTS</div>
                    </div>
                  </div>
                  <div class="overlap-wrapper-5">
                    <div class="trips-wrapper"><div class="trips">TRIPS (6)</div></div>
                  </div>
                  <div class="overlap-wrapper-6">
                    <div class="profile-wrapper"><div class="profile-2">PROFILE</div></div>
                  </div>
                  <img class="line-2" src="img/line-7.svg" />
                </div>
                <div class="gradient"></div>
              </div>
            </div>
            <div class="my-trips">
              <div class="overlap-15">
                <div class="rectangle-3"></div>
                <div class="div-2">
                  <div class="globe-wrapper"><img class="globe" src="img/globe.svg" /></div>
                  <div class="text-wrapper-21">Freelance UX/UI designer</div>
                  <div class="text-wrapper-22">Self Employed</div>
                  <div class="text-wrapper-23">Jun 2016 — Present</div>
                  <div class="text-wrapper-24">3 yrs 3 mos</div>
                  <div class="text-wrapper-25">Around the world</div>
                  <p class="text-wrapper-26">
                    Work with clients and web studios as freelancer.&nbsp;&nbsp;Work in next areas: eCommerce web
                    projects; creative landing pages; iOs and Android apps; corporate web sites and corporate identity
                    sometimes.
                  </p>
                  <img class="line-3" src="img/line-6.svg" />
                </div>
                <div class="div-3">
                  <div class="group-6"></div>
                  <div class="text-wrapper-21">UX/UI designer</div>
                  <div class="text-wrapper-22">Upwork</div>
                  <div class="text-wrapper-23">Jun 2019 — Present</div>
                  <div class="text-wrapper-24">3 mos</div>
                  <div class="text-wrapper-27">International</div>
                  <p class="text-wrapper-26">
                    New experience with Upwork system. Work in next areas: UX/UI design, graphic design, interaction
                    design, UX research.
                  </p>
                </div>
                <div class="text-wrapper-28">Experience</div>
                <img class="projects-2" src="img/projects.png" />
              </div>
            </div>
          </div>
          <img class="star-10" src="img/star-5.svg" />
          <img class="star-11" src="img/star-5.svg" />
          <img class="star-12" src="img/star-5.svg" />
          <img class="star-13" src="img/star-5.svg" />
          <div class="text-wrapper-29">4.88 Rating</div>
          <img class="star-14" src="img/star-5.svg" />
          <p class="element-rated-reviews">(8 Rated &amp; 6 Reviews)</p>
          <div class="iswarya">View Details</div>
          <img class="unsplash" src="img/unsplash-01-igfr7hd4.png" />
          <img class="unsplash-tslvoszkc" src="img/unsplash-tslvoszk77c.png" />
          <img class="unsplash-rahejub" src="img/unsplash-rahejub-l6c.png" />
        </div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="navigation-2">
          <div class="overlap-16">
            <div class="profile-3">
              <div class="overlap-group-5">
                <img class="rectangle-6" src="img/rectangle.png" />
                <div class="g-iswarya">G ISWARYA</div>
                <div class="text-wrapper-30">YOU</div>
                <div class="text-wrapper-31">36 views today</div>
                <img class="line-4" src="img/line-2.svg" />
              </div>
            </div>
            <div class="other">
              <div class="overlap-17">
                <img class="more-horizontal-2" src="img/more-horizontal.svg" />
                <div class="other-2">OTHER</div>
                <img class="line-4" src="img/line-2.svg" />
              </div>
              <img class="line-5" src="img/line-2.svg" />
            </div>
          </div>
          <div class="overlap-18">
            <img class="material-symbols" src="img/material-symbols-search.svg" />
            <div class="text-wrapper-32">Search</div>
          </div>
          <img class="rectangle-7" src="img/rectangle-11.png" />
        </div>
        <img class="unsplash-wejblemt-CA" src="img/unsplash-wejblemt-ca.png" />
        <img class="unsplash-i" src="img/unsplash-ysos7vh3x-i.png" />
        <img class="unsplash-vwkmxntam" src="img/unsplash-v7wkmxnta8m.png" />
      </div>
    </div>
  </body>
</html>
