/* Navbar.css */

/* Main Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Facebook blue */
  padding: 0px 20px;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: min-content;
  max-width: 100%;
  margin: auto;
}

/* Logo styles */
.logo {
  width: 200px;
  height: 60px;
  margin-right: 10px;
 /* margin-left:150px; */
}

/* Search bar styles */
.navbar-center input[type="text"] {
  
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 20px;
  width: 700px;
  height: 40px;
  background-color: #f0f2f5; /* Facebook search bar background */
}

/* Messenger icon styles */
.messenger-icon {
 color: rgb(111, 107, 107);
  font-size: 20px;
  cursor: pointer;
  /* margin-right: 20px;
    margin-left : 40px;*/
  margin-top: 10px;
  position: relative;
  transition: transform 0.2s;

}

.counter {
  width: 10px;
  height: 10px;
  background-color: #f75940;
  border-radius: 50%;
  padding: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2px;
  right: -5px;
  margin-right: 31%;
  color: #fff;
}
/* Profile image styles */
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-right: 150px; */
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 0px;
  position: relative;

  
 
  
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
  margin-right: 150px;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

/* Show dropdown when profile image is clicked */
.profile:hover .dropdown {
  display: block;
}

/* Hover effects for profile image and messenger icon */
.profile:hover .profile-image,
.messenger-icon:hover {
  transform: scale(1.1);
}
.message {
  display: flex;
  gap: 20px;
}

.acceptButton {
  color: #fff;
  background-color: #f75940;
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

.rejectButton {
  background-color: #f3f4f5;
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
}
